#feature{
    padding-top: 0px
}
body {
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
    overflow-x: hidden; 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.section-padding
{
	padding: 60px 0px;
}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Lato', sans-serif;
}

a::hover{
    text-decoration: none;
}
/**media Queries**/

.main-header
{
	/**background: url(../img/banner.jpg) no-repeat;**/
	background-size: cover ;
    min-height: 590px;
    background-attachment: fixed;
}

.top-title
{
	z-index: 5;
	font-size: 27px;
	font-weight: 700;
	color: #fff;
	line-height: 38px;
	letter-spacing: 4px;
	opacity: 1;
	text-transform: uppercase;
}
.sub-title
{
	font-size: 50px;
	font-weight: 700;
	color: #fff;
	line-height: 71px;
	letter-spacing: 4px;
	opacity: 1;
	text-transform: uppercase;
}




/****/
#cta-1 {
    background-color:#fcb22a; 
}
#cta-1
{
	padding: 0px 0px 0px 0px;
}
.cta-info
{
	border: 5px solid #FFD34E;
	padding: 40px 0px;
}
.cta-info h3
{
    font-size: 40px;
    font-family: 'Alegreya Sans', sans-serif;
}

@media(max-width:700px){
    .cta-info h3{
        font-size: 30px;
}
}


.dec-tec
{
	font-size: 34px;
}
/****/
#feature
{
	background-color: #f8f8f8;
}
.head-title
{
	color: #2b2b2b;
	font-size: 32px;
	font-weight: 700;
}
.botm-line
{
	background-color: #2b2b2b;
	width: 34px;
	height: 3px;
	display: inline-block;
}
.section-title:hover .botm-line
{
	width: 70px;
	/* For Safari 3.1 to 6.0 */
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 1s;
    /* Standard syntax */
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}
p
{
	color: #888;
}
.icon {
    position: relative;
    height: 48px;
    width: 48px;
    float: left;
    margin-top: 14px;
    margin-bottom: 20px;
}
.icon i
{
	font-size: 35px;
}
.icon-text {
    margin-left: 73px;
    padding:0px 25px 25px 0px;
}
h3.txt-tl {
    font-size: 24px;
    line-height: 1.35;
}
/****/
.parallax {
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-position: center center;
}
.bg-image-2 {
    background: url('../img/works/1.jpg') no-repeat center fixed;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.section {
    position: fixed;
    padding: 88px 0 67px 0;
    display: block;
}
.cta-txt h3 {
    
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #fff;
}
.cta-txt p
{
	color: #fff;
}
/****/
.portfolio-box
{
	margin-bottom: 15px;
}
.padding-right-zero
{
	padding-right: 0px;
}
#contact
{
	background-color: #f8f8f8;
}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}

#sendmessage {
    color: green;
    border:1px solid green;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
	display:block;
}

.black
{
	color: #000 !important;
	font-weight: 600;
}
.btn-send
{
	border-radius: 0px;
	color: #000;
	background-color: #FFD34E;
}
a, a:hover
{
	color: #FFD34E;
}
.cont-title
{
	font-size: 24px;
	padding:15px 0px;
}
.location-info p span {
    display: inline-block;
}
.location-info p span {
    width: 40px;
    font-size: 24px;
    color: #666;
    vertical-align: middle;
}
.location-info p {
    margin-bottom: 5px;
}
.location-info p {
    font-size: 18px;
    line-height: 32px;
    color: #000;
}
.contact-icon-container {
    position: absolute;
    top: -38px;
    right: 0;
    padding-right: 20px;
    font-size: 320px;
    color: #555;
    line-height: 300px;
    -ms-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}
/****/
#footer
{
	background-color: #191919;
	padding: 20px 0px;
}
.footer-copyright {
    color: #fff;
    line-height: 32px;
    text-align: left;
}
.footer-social
{
	float: right;
}
.footer-social a {
    font-size: 18px;
    color: #666;
}
.link-dec, .link-dec:hover{
    color: #000;
}
/****/
@media (min-width: 451px) and (max-width: 900px){
    .section-title{
        margin-bottom: 0px;
    }
}
@media (min-width: 20px) and (max-width: 450px){
    .navbar-toggle:hover, .navbar-toggle{
        background-color: #fff;
        color: #000;
    }
    .navbar-toggle{
        margin-top: 0px;
    }
    .navbar-default .navbar-nav > li > a{
        text-align: center;
        background-color: rgba(255, 255, 255, 0.32);
        color: #000;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
        background-color: rgba(255, 255, 255, 0.32);
        color: #FFD34E;
    }
    .top-title{
        font-size: 15px;
    }
    .title{
        font-size: 50px;
    }
    .sub-title{
        font-size: 24px;
    }
    .footer-copyright {
    text-align: center;
    }
    .padding-right-zero{
        padding-right: 15px;
    }
    .section-title{
        margin-bottom: 15px;
    }
    .cta-txt h3{
        font-size: 28px;
    }
    body{
        font-size: 14px;
    }
    h3.txt-tl{
        font-size: 20px;
    }
}
/**bloqute**/
.row .one {
    margin:0 !important;
}
.container-slide {
    height: 580px;
}

@media(max-width:900px){
    .container-slide {
    height: 530px;
}
}
#cta-1 {
  margin: 0;
  color: #444;
  background: #fcb22a;
  font: 300 18px/18px Roboto, sans-serif;
}
*,
:after,
:before {
  box-sizing: border-box;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  display: block;
}

.author-quote-wrap .author-quote,
.author-quote-wrap .author-photo:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.author-quote-wrap {
  color: #fff;
  width: 100%;
  overflow: hidden;
  max-width: 100%;
  min-height: 200px;
  margin: 0px auto 0;
  background: #fcb22a;
  position: relative;
  font-family: 'Poiret One', cursive !important;
  
}
.author-quote-wrap .author-quote {
  display: none;
}
.author-quote-wrap .toggle-quote {
  display: none;
}
.author-quote-wrap .toggle-quote:checked + .author-quote {
  display: block;
}
.author-quote-wrap .author-quote a {
  color: inherit;
  text-decoration: none;
}
.author-quote-wrap .author-photo,
.author-quote-wrap .quote-content {
  height: 100%;
  position: relative;
}
.author-quote-wrap .author-photo {
   width: 210px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  quotes: "\201C""\201D""\2018""\2019";
}
.author-quote-wrap .author-photo.photo-a {
  background-image: url(http://thankyou.ru/upload/client/a5b9c7ba4b28f7eeb4450c93518eef11.png);
}

.author-quote-wrap .author-photo:before {
  content: "";
  background: rgba(22, 160, 255, 0.5);
}
.author-quote-wrap .author-photo:after {
  top: 15px;
  left: 60px;
  font-size: 72px;
  line-height: 72px;
  position: absolute;
  font-family: serif;
  content: open-quote;
}
.author-quote-wrap .author-photo .navigate {
  left: 15px;
  z-index: 6;
  right: 15px;
  bottom: 15px;
  position: absolute;
  text-align: center;
}
.author-quote-wrap .author-photo .navigate .label {
  width: 15px;
  height: 30px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.author-quote-wrap .author-photo .navigate .label.left {
  left: -30px;
}
.author-quote-wrap .author-photo .navigate .label.right {
  right: -30px;
}
.author-quote-wrap .author-photo .navigate .label.disabled {
  cursor: not-allowed;
}
.author-quote-wrap .author-photo .navigate .label:before,
.author-quote-wrap .author-photo .navigate .label:after {
  content: "";
  height: 22px;
  width: 55px;
  background: #ccc;
  position: absolute;
}
.author-quote-wrap .author-photo .navigate .label:before {
  top: 62%;
}
.author-quote-wrap .author-photo .navigate .label:after {
  bottom: 62%;
}
.author-quote-wrap .author-photo .navigate .label.left:before,
.author-quote-wrap .author-photo .navigate .label.right:after {
  transform: none;
}
.author-quote-wrap .author-photo .navigate .label.right:before,
.author-quote-wrap .author-photo .navigate .label.left:after {
  transform: none;
}
.author-quote-wrap .author-photo .navigate .label.left:before,
.author-quote-wrap .author-photo .navigate .label.left:after {
  left: 0;
}
.author-quote-wrap .author-photo .navigate .label.right:before,
.author-quote-wrap .author-photo .navigate .label.right:after {
  right: 0;
}
.author-quote-wrap .author-photo .navigate .label.disabled:before,
.author-quote-wrap .author-photo .navigate .label.disabled:after,
.author-quote-wrap .author-photo .navigate .label.disabled:hover:before,
.author-quote-wrap .author-photo .navigate .label.disabled:hover:after {
  background: #bbb;
}
.author-quote-wrap .author-photo .navigate .label:hover:before,
.author-quote-wrap .author-photo .navigate .label:hover:after {
  background: #fff;
}

.author-quote-wrap .quote-content {
  padding: 15px;
  width: 100%;
}

.quote-content .quote-like .love:before,
.quote-content .quote-like .love:after {
  top: 0;
  left: 7px;
  content: "";
  width: 7px;
  height: 12px;
  background: #fff;
  position: absolute;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  border-radius: 20px 20px 0 0;
}
.quote-content .quote-like .love:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.quote-content .quote-text,
.quote-content .quote-author {
  text-transform: None;
}
.quote-content .quote-text {
  font-size: 38px;
  font-weight: 200 !important;
  line-height: 35px;
  width: 90%;
  padding-top: 3%;
  padding-left: 25%;
  padding-right:6%
}

@media(max-width:360px){
   .quote-content .quote-text {
    font-size: 24px;
    font-weight: 200 !important;
    line-height: 24px;
    width: 100%;
    padding-top: 8%;
    padding-left: 56%;
    padding-right:0%
}
  .author-quote-wrap {
    color: #fff;
    width: 93%;
    overflow: hidden;
    max-width: 100%;
    min-height: 200px;
    margin: 0px auto 0;
    background: #fcb22a;
    position: relative;
    font-family: 'Poiret One', cursive !important;
  
}
  .author-quote-wrap .author-photo{
    width: 50%;
    position: relative;
}
  
}

@media(max-width:411px){
   .quote-content .quote-text {
    font-size: 24px;
    font-weight: 200 !important;
    line-height: 24px;
    width: 100%;
    padding-top: 8%;
    padding-left: 56%;
    padding-right:0%
}
  .author-quote-wrap {
    color: #fff;
    width: 93%;
    overflow: hidden;
    max-width: 100%;
    min-height: 200px;
    margin: 0px auto 0;
    background: #fcb22a;
    position: relative;
    font-family: 'Poiret One', cursive !important;
  
}
  .author-quote-wrap .author-photo{
    width: 50%;
    position: relative;
}

}

@media(min-width:415px) and (max-width:850px){
   .quote-content .quote-text {
    font-size: 24px;
    font-weight: 200 !important;
    line-height: 24px;
    width: 100%;
    padding-top: 8%;
    padding-left: 56%;
    padding-right:0%
}
  .author-quote-wrap {
    color: #fff;
    width: 100%;
    overflow: hidden;
    max-width: 100%;
    min-height: 200px;
    margin: 0px auto 0;
    background: #fcb22a;
    position: relative;
    font-family: 'Poiret One', cursive !important;
  
}
  .author-quote-wrap .author-photo{
    width: 50%;
    position: relative;
}

}



.quote-content .quote-author {
  bottom: 15px;
  font-size: 24px;
  font-weight: 200 !important;
  position: absolute;  
  font-weight: 200 !important;
}
.quote-content .quote-author:before {
  content: "- ";
}

#cta-1{
  z-index: 10;
}
.cd-morph-dropdown{
  z-index: 30;
}
.author-quote-wrap{
  z-index: 1;
}


