{% extends 'base.html'%} {% load static%} {%block content%}
<header id="header" class="header1">
	<div class="container text-center header-img">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{% url 'home' %}">Башкы</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Байланышуу</li>
			</ol>
		</nav>
	</div>
</header>

<section id="desc">
	<div class="container">
		<div class="row">
			<div class="container-contact100">
				<div class="wrap-contact100 col-md-12">
					<div class="maps col-sm-8">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2925.6128422241313!2d74.60378600006884!3d42.83879133280068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb61849c14003%3A0x9194d1d1e2ab23a1!2z0J3QntCoICLQkNC60YvQu9GC0LDQuSI!5e0!3m2!1sen!2skg!4v1528884028803"
						 width="800" height="780" frameborder="3" style="border:8" allowfullscreen></iframe>
					</div>

					<div class="contact100-more flex-col-c-m col-sm-4" id="photo-contact">
						<div class="flex-w size1 p-b-47">
							<div class="txt1 p-r-25">
								<span class="fa fa-map-marker" aria-hidden="true"></span>
							</div>

							<div class="flex-col size2">
								<span class="txt1 p-b-20">
									Адрес
								</span>

								<span class="txt2">
									Тыныстанова 2А 720020, Бишкек, Кыргызстан
								</span>
							</div>
						</div>

						<div class="dis-flex size1 p-b-47">
							<div class="txt1 p-r-25">
								<span class="fa fa-phone" aria-hidden="true"></span>
							</div>

							<div class="flex-col size2">
								<span class="txt1 p-b-20">
									Байланышуу
								</span>

								<span class="txt3">
									 +996 558 102 050
								</span>
							</div>
						</div>

						<div class="dis-flex size1 p-b-47">
							<div class="txt1 p-r-25">
								<span class="fa fa-envelope-o" aria-hidden="true"></span>
							</div>

							<div class="flex-col size2">
								<span class="txt1 p-b-20">
									Кат жазуу
								</span>

								<span class="txt3">
									 59.12kg@gmail.com
								</span>
							</div>
						</div>
						<div class="dis-flex size1 p-b-47">
							<div class="txt1 p-r-25">
								<span class="fa fa-info-circle" aria-hidden="true"></span>
							</div>
						
							<div class="flex-col size5">
								<span class="txt1 p-b-20">
									Социалдык баракчаларыбыз
								</span>						 
								<span class="txt3">
									<i class="fa fa-instagram fa-2x" aria-hidden="true">
										<a href="https://www.instagram.com/akyltai.kg/" target="new">instagram.com/akyltai.kg</a>
									</i>
									
								</span>
								<span class="txt3">
									<i class="fa fa-facebook-square fa-2x" aria-hidden="true">
										<a href="https://www.facebook.com/pg/akyltai.kg" target="new">facebook.com/pg/akyltai.kg</a>
									</i>
								
								</span>
								<span class="txt3">
									<i class="fa fa-youtube-play fa-2x" aria-hidden="true">
										<a href="https://goo.gl/NLBmvg" target="new">https://goo.gl/NLBmvg</a>
									</i>
								
								</span>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock %}


