{% extends 'base.html'%} {% load static%} {%block content%}
  <header id="header" class="header1">
    <div class="container text-center header-img">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'home' %}">Башкы</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Мектеп сүрөттөрү</li>
            </ol>
        </nav>
    </div>
</header>

<section class="testimonials text-center bg-light gall">
	<div class="wrapper">       
		<div class="masonry">
			<div class="brick">
				<a href="{% static 'img/1.1.jpg' %}" class="js-img-viwer" data-caption="1" data-id="kaba">
					<img src="{% static 'img/1-1.jpg' %}" width="360" />
				</a>
			</div>
			<div class="brick">
				<a href="{% static 'img/2.2.jpg' %}" class="js-img-viwer" data-caption="2" data-id="kaba">
					<img src="{% static 'img/2-2.jpg' %}" width="360" />
				</a>
			</div>
			<div class="brick">
				<a href="{% static 'img/3.3.jpg' %}" class="js-img-viwer" data-caption="3" data-id="kaba">
					<img src="{% static 'img/3-3.jpg' %}" width="360" />
				</a>
			</div>
			<div class="brick">
				<a href="{% static 'img/4.4.jpg' %}" class="js-img-viwer" data-caption="4" data-id="kaba">
					<img src="{% static 'img/4-4.jpg' %}" width="360" />
				</a>
			</div>
			<div class="brick">
				<a href="{% static 'img/5.5.jpg' %}" class="js-img-viwer" data-caption="5" data-id="kaba">
					<img src="{% static 'img/5-5.jpg' %}" width="360" />
				</a>
			</div>
			<div class="brick">
				<a href="{% static 'img/6.6.jpg' %}" class="js-img-viwer" data-caption="6" data-id="kaba">
					<img src="{% static 'img/6-6.jpg' %}" width="360" />
				</a>
			</div>		
			<div class="brick">
				<a href="{% static 'img/7.jpg' %}" class="js-img-viwer" data-caption="7" data-id="kaba">
					<img src="{% static 'img/7-7.jpg' %}" width="360" />
				</a>
			</div>
			<div class="brick">
				<a href="{% static 'img/8.jpg' %}" class="js-img-viwer" data-caption="8" data-id="kaba">
					<img src="{% static 'img/8-8.jpg' %}" width="360" />
				</a>
			</div>
			<div class="brick">
				<a href="{% static 'img/9.jpg' %}" class="js-img-viwer" data-caption="9" data-id="kaba">
					<img src="{% static 'img/9-9.jpg' %}" width="360" />
				</a>
			</div>
			<div class="brick">
				<a href="{% static 'img/10.jpg' %}" class="js-img-viwer" data-caption="10" data-id="kaba">
					<img src="{% static 'img/10-10.jpg' %}" width="360" />
				</a>
			</div>
			<div class="brick">
				<a href="{% static 'img/11.jpg' %}" class="js-img-viwer" data-caption="11" data-id="kaba">
					<img src="{% static 'img/11-11.jpg' %}" width="360" />
				</a>
			</div>
			<div class="brick">
				<a href="{% static 'img/12.12.jpg' %}" class="js-img-viwer" data-caption="12" data-id="kaba">
					<img src="{% static 'img/12-12.jpg' %}" width="360" />
				</a>
			</div>
		
	</div>
   </section>

	<script src="{% static 'js/smartphoto.js' %}"></script>
	<script>
	window.addEventListener('load',function(){
		new SmartPhoto(".js-img-viwer");
        new SmartPhoto(".js-img-viwer-fit");
	});
	</script>

{%endblock%}