{% extends 'base.html'%} {% load static%} {%block content%}
  <header id="header" class="header1">
    <div class="container text-center header-img">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'home' %}">Башкы</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Коллектив</li>
            </ol>
        </nav>
    </div>
</header>

<section class="testimonials text-center bg-light">
	<div class="wrapper">
        <h2>Биздин мектеп</h2>
		<div class="masonry">
			<div class="brick">
				<a href="{% static 'img/assets/1.jpg' %}" class="js-img-viwer" data-caption="かば" data-id="kaba">
					<img src="{% static 'img/assets/1-1.jpg' %}" width="360" />
				</a>
			</div>
			<div class="brick">
				<a href="{% static 'img/assets/2.jpg' %}" class="js-img-viwer" data-caption="かば" data-id="kaba">
					<img src="{% static 'img/assets/2-2.jpg' %}" width="360" />
				</a>
			</div>
			<div class="brick">
				<a href="{% static 'img/assets/2.jpg' %}" class="js-img-viwer" data-caption="かば" data-id="kaba">
					<img src="{% static 'img/assets/2-2.jpg' %}" width="360" />
				</a>
			</div>
			<div class="brick">
				<a href="{% static 'img/assets/4.jpg' %}" class="js-img-viwer" data-caption="かば" data-id="kaba">
					<img src="{% static 'img/assets/4-4.jpg' %}" width="360" />
				</a>
			</div>
			<div class="brick">
				<a href="{% static 'img/assets/5.jpg' %}" class="js-img-viwer" data-caption="かば" data-id="kaba">
					<img src="{% static 'img/assets/5-5.jpg' %}" width="360" />
				</a>
			</div>
			<div class="brick">
				<a href="{% static 'img/assets/6.jpg' %}" class="js-img-viwer" data-caption="かば" data-id="kaba">
					<img src="{% static 'img/assets/6-6.jpg' %}" width="360" />
				</a>
			</div>		
			<div class="brick">
				<a href="{% static 'img/assets/7.jpg' %}" class="js-img-viwer" data-caption="かば" data-id="kaba">
					<img src="{% static 'img/assets/7-7.jpg' %}" width="360" />
				</a>
			</div>
			<div class="brick">
				<a href="{% static 'img/assets/8.jpg' %}" class="js-img-viwer" data-caption="かば" data-id="kaba">
					<img src="{% static 'img/assets/8-8.jpg' %}" width="360" />
				</a>
			</div>
			<div class="brick">
				<a href="{% static 'img/assets/9.jpg' %}" class="js-img-viwer" data-caption="かば" data-id="kaba">
					<img src="{% static 'img/assets/9-9.jpg' %}" width="360" />
				</a>
			</div>
			<div class="brick">
				<a href="{% static 'img/assets/10.jpg' %}" class="js-img-viwer" data-caption="かば" data-id="kaba">
					<img src="{% static 'img/assets/10-10.jpg' %}" width="360" />
				</a>
			</div>
			<div class="brick">
				<a href="{% static 'img/assets/11.jpg' %}" class="js-img-viwer" data-caption="かば" data-id="kaba">
					<img src="{% static 'img/assets/11-11.jpg' %}" width="360" />
				</a>
			</div>
			<div class="brick">
				<a href="{% static 'img/assets/12.jpg' %}" class="js-img-viwer" data-caption="かば" data-id="kaba">
					<img src="{% static 'img/assets/12-12.jpg' %}" width="360" />
				</a>
			</div>
		
	</div>
   </section>

	<script src="{% static 'js/smartphoto.js' %}"></script>
	<script>
	window.addEventListener('load',function(){
		new SmartPhoto(".js-img-viwer");
        new SmartPhoto(".js-img-viwer-fit");
	});
	</script>

{%endblock%}