{% extends 'base.html'%}
{% load static%}
{%block content%}

<header id="header" class="header1">
      <div class="container text-center header-img">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'home' %}">Башкы</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Мектеп тууралуу</li>
          </ol>
        </nav>
      </div>
    </header>

    <section id="desc">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <h2>Окуу ситемасы</h2>
            <div class="card text-center">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Неделя - 1</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Неделя - 2</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{%endblock%}