{% extends 'base.html'%}
{% load static%}
{%block content%}

<header id="header" class="header2">
      <div class="container text-center header-img">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'home' %}">Башкы</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Кабыл алуу</li>
          </ol>
        </nav>
      </div>
    </header>

    <section id="desc">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Мектепке кабыл алуу    (12-май 2018)</h2>
            <p class="lead">Мектепке кабыл алуу үчүн регистрация башталды. Эң акыркы регистрация мөөнөтү 11 май! </p>
            <ul>
              <li>Решситрация учурунда керектелүүчү докумеиттер:</li>
              <li>- Баланын Туулгандыгы тууралуу күбөлүктүн копиясы</li>
              <li>- 3х4 сүрөт (1шт)</li>
            </ul>

            <h2>Кабыл алуу күнү</h2>
            <ul>
              <li>- тамга таануу жөндөмү</li> 
              <li>- сан таануу жөндөмү</li>
              <li>- логопедтик тест</li>
              <li>- логика боюнча сынак өткөрүлөт</li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

{%endblock%}