{% extends 'base.html'%} {% load static%} {%block content%}

<header id="header" class="header6">
    <div class="container text-center header-img">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb header-rasp">
                <li class="breadcrumb-item">
                    <a href="{% url 'home' %}">Башкы</a>
                </li>
                <li class="breadcrumb-item active " aria-current="page">Китепкана</li>
            </ol>
        </nav>
    </div>
</header>

<section id="desc" class="text2">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="header3-h2">Китепкана</h2>
                <ul>
                    <li>
                         Окуучулардын китепти сүйүп, аны көнүмүш адатка айлантып окушу үчүн өзгөчө көңүл бөлүнөт. Бул боюнча класстык китепкана,
                        окуучулардын үйлөрүндө өздүк китепканаларын уюштуруу талап кылынып, кыргыз, орус, англис жана түрк тилдеринде жыл ичинде
                        мектеп ичинде китеп окуу боюнча ар кандай конкурстар уюштурулат. Онлайн китеп окуу жана маал-маалы менен онлайн сынактар
                        жүргүзүлүп турат. Алдыңкыокуучулар ар дайым ардак грамоталар жана белектер менен сыйланышат.
                    </li>                    
                </ul>
            </div>
        </div>
    </div>
</section>

{%endblock%}