{% extends 'base.html'%} {% load static%} {%block content%}

<header id="header" class="header6">
    <div class="container text-center header-img">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb header-rasp">
                <li class="breadcrumb-item">
                    <a href="{% url 'home' %}">Башкы</a>
                </li>
                <li class="breadcrumb-item active " aria-current="page">Китепкана</li>
            </ol>
        </nav>
    </div>
</header>

<section id="desc" class="text2">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="header3-h2">Күндөлүк режим</h2>
                <ul>
                    <li>Сабактар 9:00 башталып, 16:30 аяктайт. Эртең мененки жана түшкү тамак каралган. Негизги сабактар түшкө чейин окутулуп, түштөн
                    кийин окуучулардын чыгармачылыгын өстүрүү максатында мектептин компоненти болгон сабактар, өз алдынча изденүүсу, математикалык
                    эсеп жана жазуу иштери үчүн этюддар, маданий эс алуу иш-чаралары, конкурстар, экскурсиялар жана ар кандай ийримдер уюштурулат.</li>
                    
                </ul>
            </div>
            <br>
            <div style="padding-top:15px;" class="col-lg-6 mx-auto">
                <ul>
                    <li ><b>8:30</b>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Линейка</li>
                    <li style="padding-top:8px;"><b>8:45</b>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&emsp;Китеп окуу</li>
                    <li style="padding-top:8px;"><b>9:00-9:45</b>&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;1-сабак</li>
                    <li style="padding-top:8px;"><b>9:45-10:00</b>&emsp;&emsp;&emsp;&emsp;&nbsp;Чай/эс алуу</li>
                    <li style="padding-top:8px;"><b>10:00-10:45</b>&emsp;&emsp;&emsp;&emsp;2-сабак</li>
                    <li style="padding-top:8px;"><b>10:50-11:35</b>&emsp;&emsp;&emsp;&emsp;3-сабак</li>
                    <li style="padding-top:8px;"><b>11:40-12:25</b>&emsp;&emsp;&emsp;&emsp;4-сабак</li>
                    <li style="padding-top:8px;"><b>12:30-13:15</b>&emsp;&emsp;&emsp;&emsp;5-сабак</li>
                    <li style="padding-top:8px;"><b>13:15-14:05</b>&emsp;&emsp;&emsp;&emsp;Түшкү тамак/эс алуу </li>
                    <li style="padding-top:8px;"><b>14:05-14:55</b>&emsp;&emsp;&emsp;&emsp;6-сабак</li>
                    <li style="padding-top:8px;"><b>14:55-15:40</b>&emsp;&emsp;&emsp;&emsp;Этюд (чыгармачылык саат)</li>
                    <li style="padding-top:8px;"><b>15:45-16:30</b>&emsp;&emsp;&emsp;&emsp;Ийримдер</li>
                </ul>
            </div>


        </div>
    </div>
</section>

{%endblock%}