{% extends 'base.html'%} {% load static%} {%block content%}

<header id="header" class="header1">
    <div class="container text-center header-img">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'home' %}">Башкы</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Ийримдер</li>
            </ol>
        </nav>
    </div>
</header>

<section id="desc">
    <div class="container">
        <div class="row">
            
            <section class="krujok">
                <div class="container">
                    <div class="row">
                        <div class="page">
                            <div class="page__demo">
                                <div class="page__container">
                                    <div class="photobox photobox_type1">
                                        <div class="photobox__previewbox prew1">
                                            <img src="https://i.imgur.com/6IHGlOM.jpg" class="photobox__preview" alt="Preview">
                                            <span class="photobox__label">РОБОТОТЕХНИКА</span>
                                        </div>
                                    </div>
                                    <div class="photobox photobox_type2">
                                        <div class="photobox__previewbox prew2">
                                            <img src="https://i.imgur.com/4kG1p86.jpg" class="photobox__preview" alt="Preview">
                                            <span class="photobox__label">ШАХМАТ</span>
                                        </div>
                                    </div>
                                    <div class="photobox photobox_type1">
                                        <div class="photobox__previewbox prew3">
                                            <img src="https://i.imgur.com/clQOaYL.jpg" class="photobox__preview" alt="Preview">
                                            <span class="photobox__label">КОМУЗ</span>
                                        </div>
                                    </div>
                                    <div class="photobox photobox_type1">
                                        <div class="photobox__previewbox prew4">
                                            <img src="https://i.imgur.com/eGovs62.jpg" class="photobox__preview" alt="Preview">
                                            <span class="photobox__label">БИЙ</span>
                                        </div>
                                    </div>
                                    <div class="photobox photobox_type2">
                                        <div class="photobox__previewbox prew5">
                                            <img src="https://i.imgur.com/QMZAY4z.jpg" class="photobox__preview" alt="Preview">
                                            <span class="photobox__label">ТХЭКВАНДО</span>
                                        </div>
                                    </div>
                                    <div class="photobox photobox_type1">
                                        <div class="photobox__previewbox prew6">
                                            <img src="https://i.imgur.com/nfgrppR.jpg" class="photobox__preview" alt="Preview">
                                            <span class="photobox__label">КОЛ ӨНӨР</span>
                                        </div>
                                    </div>
                                    <div class="photobox photobox_type1">
                                        <div class="photobox__previewbox">
                                            <img src="https://i.imgur.com/x76Iq4A.jpg" class="photobox__preview" alt="Preview">
                                            <span class="photobox__label">ГИТАРА</span>
                                        </div>
                                    </div>
                                    <div class="photobox photobox_type2">
                                        <div class="photobox__previewbox prew7">
                                            <img src="https://i.imgur.com/g7CPe3a.jpg" class="photobox__preview" alt="Preview">
                                            <span class="photobox__label">ФУТБОЛ</span>
                                        </div>
                                    </div>
                                    <div class="photobox photobox_type1">
                                        <div class="photobox__previewbox prew8">
                                            <img src="https://i.imgur.com/ds7vEEg.jpg" class="photobox__preview" alt="Preview">
                                            <span class="photobox__label">ТОГУЗ КОРГООЛ</span>
                                        </div>
                                    </div>
                                    <div class="photobox photobox_type1">
                                        <div class="photobox__previewbox">
                                            <img src="https://i.imgur.com/UCUGAlR.jpg" class="photobox__preview" alt="Preview">
                                            <span class="photobox__label">МЕНТАЛДЫК АРИФМЕТИКА</span>
                                        </div>
                                    </div>
                                    <div class="photobox photobox_type2">
                                        <div class="photobox__previewbox prew9">
                                            <img src="https://stas-melnikov.ru/cliparts/nature640x426.jpg" class="photobox__preview" alt="Preview">
                                            <span class="photobox__label">ВОКАЛ</span>
                                        </div>
                                    </div>
                                    <div class="photobox photobox_type1">
                                        <div class="photobox__previewbox prew11">
                                            <img src="https://i.imgur.com/60Q4mcz.jpg" class="photobox__preview" alt="Preview">
                                            <span class="photobox__label">МОНЧОК ТИЗҮҮ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

{%endblock%}