{% extends 'base.html'%} 
{% load static%} 
{%block content%}

<header id="header" class="header5">
    <div class="container text-center header-img">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'home' %}">Башкы</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Методикалык кеңешме</li>
            </ol>
        </nav>
    </div>
</header>

<section id="desc">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Методикалык күндөр</h2>
                <p class="lead">Акылтай мектебинде ар бир предмет үчүн академиялык календарь түзүлгөн.</p>
                <ul>
                    <li>&emsp;Бул календарда жыл бою окуу тарбия процессинде камтылган бардык иш-чаралар көргөзүлөт. Алар: чейректик жана олимпиадага даярдоо сынактары, мугалимдер үчүн сынактар, предметтик жумалыктар, каникулдар жана окуу жайлардагы методикалык күндөр.

                        </li><li>&emsp;Методикалык күндөрдүн негизги максаты – жалпы окуу тарбия процесси менен таанышуу, мугалимдерге методикалык жардам көрсөтүү, мугалимдердин сабагына катышуу, аларга анализ берүү, сабак өтүүнүн этаптарын талдоо, анкета жүргүзүү болуп саналат.</li>
                </ul>

                <h2>Предметтик жумалыктар</h2>
                <ul>
                    <li>&emsp;Академиялык календарда көргөзүлгөн мөөнөттөрдө предметтик жумалыктар өтөт.  Жумалыктарда: ачык сабактар, конкурстар, дубал гезиттер, оюн-зоок программалары уюштурулат.</li>
                </ul>
                
            </div>
        </div>
    </div>
</section>




{%endblock%}