{% extends 'base.html'%} {% load static%} {%block content%}

<header id="header" class="header1">
    <div class="container text-center header-img">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'home' %}">Башкы</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Коллектив</li>
            </ol>
        </nav>
    </div>
</header>

<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">Коллектив</h2>
        <div class="row">
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/sostav/avatar.png' %}" alt="">
                    <h5 class="h5">Сыддык Кая</h5>
                    <p class="font-weight-light mb-0">Директор</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/sostav/avatar.png' %}" alt="">
                    <h5 class="h5">Ишкыналиева Атыр Кенешовна</h5>
                    <p class="font-weight-light mb-0">Зам.директора по УВР</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-3.jpg' %}" alt="">
                    <h5 class="h5">Балтабаев Кудайназар Абдулахатович</h5>
                    <p class="font-weight-light mb-0">Зам.директора по УВР</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/sostav/avatar.png' %}" alt="">
                    <h5 class="h5">Шаршекеева Дариха Шабданбековна</h5>
                    <p class="font-weight-light mb-0">Зам. директора по ВР</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-1.jpg' %}" alt="">
                    <h5 class="h5">Гулер Сарыхан</h5>
                    <p class="font-weight-light mb-0">Зам. директора по ВР</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/vera.jpg' %}" alt="">
                    <h5 class="h5">Князькина Вера Анатольевна</h5>
                    <p class="font-weight-light mb-0">Учитель нач. кл.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/natal.jpg' %}" alt="">
                    <h5 class="h5">Лебедева Наталья Викторовна</h5>
                    <p class="font-weight-light mb-0">Учитель нач. кл.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-3.jpg' %}" alt="">
                    <h5 class="h5">Джамбаева Светлана Абдыкановна</h5>
                    <p class="font-weight-light mb-0">Учитель нач. кл.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-1.jpg' %}" alt="">
                    <h5 class="h5">Самакова Гулбарчын Калыгуловна</h5>
                    <p class="font-weight-light mb-0">Учитель нач. кл.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/ainagul.jpg' %}" alt="">
                    <h5 class="h5">Солтоева Айнагул Кенешовна</h5>
                    <p class="font-weight-light mb-0">Учитель нач. кл.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/dina.jpg' %}" alt="">
                    <h5 class="h5">Ломанцова Дина Владимировна</h5>
                    <p class="font-weight-light mb-0">Учитель нач. кл.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-3.jpg' %}" alt="">
                    <h5 class="h5">Борисова Виктория Владимир новна</h5>
                    <p class="font-weight-light mb-0">Учитель нач. кл.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-1.jpg' %}" alt="">
                    <h5 class="h5">Вайсканова Салтанат Асильбековна</h5>
                    <p class="font-weight-light mb-0">Учитель нач. кл.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/tai.jpg' %}" alt="">
                    <h5 class="h5">Тайшубекова Гульнара Сатувалдиевна</h5>
                    <p class="font-weight-light mb-0">Учитель нач. кл.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/nazaren.jpg' %}" alt="">
                    <h5 class="h5">Назаренко Мария Анатольевна</h5>
                    <p class="font-weight-light mb-0">Учитель нач. кл.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-3.jpg' %}" alt="">
                    <h5 class="h5">Нишанова Зарипа Салиевна</h5>
                    <p class="font-weight-light mb-0">Учитель русского яз.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-1.jpg' %}" alt="">
                    <h5 class="h5">Ибраимова Гулсана Сапаровна</h5>
                    <p class="font-weight-light mb-0">Учитель физ-ры</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-2.jpg' %}" alt="">
                    <h5 class="h5">Солтоева Айнагул Кенешовна</h5>
                    <p class="font-weight-light mb-0">Учитель нач. кл.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-3.jpg' %}" alt="">
                    <h5 class="h5">Карасартова Татьяна Раимбековна</h5>
                    <p class="font-weight-light mb-0">Учитель русск. языка</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-3.jpg' %}" alt="">
                    <h5 class="h5">Зулейха Яссыоренли</h5>
                    <p class="font-weight-light mb-0">Учитель англ. яз.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-1.jpg' %}" alt="">
                    <h5 class="h5">Капарова Гулзада Сабатаровна</h5>
                    <p class="font-weight-light mb-0">Учитель кырг. языка</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-2.jpg' %}" alt="">
                    <h5 class="h5">Туркмен Хавва</h5>
                    <p class="font-weight-light mb-0">Учитель тур. яз.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-2.jpg' %}" alt="">
                    <h5 class="h5">Кыдыралиева Марина Кочконовна</h5>
                    <p class="font-weight-light mb-0">Учитель гос.языка</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-3.jpg' %}" alt="">
                    <h5 class="h5">Эгенбердиева Аселя Токторбековна</h5>
                    <p class="font-weight-light mb-0">Учитель логики и мен. арифметики</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/turar.jpg' %}" alt="">
                    <h5 class="h5">Турсунбаева Тураркан Замирбековна</h5>
                    <p class="font-weight-light mb-0">Учитель ОБЖ</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/gulshan.jpg' %}" alt="">
                    <h5 class="h5">Изабаева Гулшан Рысбаевна</h5>
                    <p class="font-weight-light mb-0">Учитель англ.яз.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-3.jpg' %}" alt="">
                    <h5 class="h5">Муратбек кызы Нуриза</h5>
                    <p class="font-weight-light mb-0">Учитель музыки</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-3.jpg' %}" alt="">
                    <h5 class="h5">Коломейцева Светлана Николаевна</h5>
                    <p class="font-weight-light mb-0">Учитель географии</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/nurgi.jpg' %}" alt="">
                    <h5 class="h5">Садирова Нургиза Алтыбаевна</h5>
                    <p class="font-weight-light mb-0">Учитель англ. яз.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-2.jpg' %}" alt="">
                    <h5 class="h5">Озлем Бейазагач</h5>
                    <p class="font-weight-light mb-0">Учит. Тур. яз.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-2.jpg' %}" alt="">
                    <h5 class="h5">Бөлөкбаева Айгул Замирбековна</h5>
                    <p class="font-weight-light mb-0">Учит.ИХТ</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/nurgul.jpg' %}" alt="">
                    <h5 class="h5">Кайыпова Нургул Жумадиловна</h5>
                    <p class="font-weight-light mb-0">Уч. кырг.яз.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-1.jpg' %}" alt="">
                    <h5 class="h5">Нусубалиева Айнагул Тураровна</h5>
                    <p class="font-weight-light mb-0">Учит. физ-ры</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-2.jpg' %}" alt="">
                    <h5 class="h5">Эпп Полина Якуповна</h5>
                    <p class="font-weight-light mb-0">Уч. ритмики</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-3.jpg' %}" alt="">
                    <h5 class="h5">Бекбоева Шааркул Бекжановна</h5>
                    <p class="font-weight-light mb-0">Учит. истории</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-3.jpg' %}" alt="">
                    <h5 class="h5">Осекова Динара Усеновна</h5>
                    <p class="font-weight-light mb-0">Учит. истории</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-1.jpg' %}" alt="">
                    <h5 class="h5">Танкеев Азамат Адильбекович</h5>
                    <p class="font-weight-light mb-0">Учит. инфор.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-2.jpg' %}" alt="">
                    <h5 class="h5">Минбаева Гулзире Шарифовна</h5>
                    <p class="font-weight-light mb-0">Учит. матем.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-2.jpg' %}" alt="">
                    <h5 class="h5">Анисимова Галина Владимировна</h5>
                    <p class="font-weight-light mb-0">Учит. матем.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-3.jpg' %}" alt="">
                    <h5 class="h5">Кыдырбекова Гульназ Заттарбековна</h5>
                    <p class="font-weight-light mb-0">Учит. биологии</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-1.jpg' %}" alt="">
                    <h5 class="h5">Джолдошалиева Айгерим Касымкуловна</h5>
                    <p class="font-weight-light mb-0">Учит. биологии</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-2.jpg' %}" alt="">
                    <h5 class="h5">Акматалиева Гульзар Кубанычбековна</h5>
                    <p class="font-weight-light mb-0">Психолог.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-3.jpg' %}" alt="">
                    <h5 class="h5">Бектурганова Чинаркуль Осмонкуловна</h5>
                    <p class="font-weight-light mb-0">Учит. нач. кл.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/lola.jpg' %}" alt="">
                    <h5 class="h5">Усманова Лола Рустамжановна</h5>
                    <p class="font-weight-light mb-0">Учит. нач. кл.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-1.jpg' %}" alt="">
                    <h5 class="h5">Мухина Роза Ахмедовна</h5>
                    <p class="font-weight-light mb-0">Учит. нач. кл.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/123.jpg' %}" alt="">
                    <h5 class="h5">Малабекова Гульбарчин Турдукуловна</h5>
                    <p class="font-weight-light mb-0">Уч. русс.яз</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-2.jpg' %}" alt="">
                    <h5 class="h5">Кыдыралиева Марина Кочконовна</h5>
                    <p class="font-weight-light mb-0">Учитель гос.языка</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'img/testimonials-3.jpg' %}" alt="">
                    <h5 class="h5">Эгенбердиева Аселя Токторбековна</h5>
                    <p class="font-weight-light mb-0">Учитель логики и мен. арифметики</p>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock%}